<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云顶之弈 装备合成天梯图</title>
    <link href="/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="card mb-3">
    <div class="card-header bg-transparent">云顶之弈 装备合成天梯图（仅供参考，具体请以官方公告为准）</div>
    <div class="card-body text-success">
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class="col-10">
                    <table class="table table-bordered table-dark">
                        <thead>
                        <tr>
                            <th></th>
                            <th title="+20攻击"><img src="https://ossweb-img.qq.com/images/lol/img/item/1038.png"
                                                   alt="loading">
                            </th>
                            <th title="+20%法伤"><img src="https://ossweb-img.qq.com/images/lol/img/item/1058.png"
                                                    alt="loading">
                            </th>
                            <th title="+15%攻速"><img src="https://ossweb-img.qq.com/images/lol/img/item/1043.png"
                                                    alt="loading">
                            </th>
                            <th title="+20法力"><img src="https://ossweb-img.qq.com/images/lol/img/item/3070.png"
                                                   alt="loading">
                            </th>
                            <th title="+20护甲"><img src="https://ossweb-img.qq.com/images/lol/img/item/1031.png"
                                                   alt="loading">
                            </th>
                            <th title="+20魔抗"><img src="https://ossweb-img.qq.com/images/lol/img/item/1057.png"
                                                   alt="loading">
                            </th>
                            <th title="200生命"><img src="https://ossweb-img.qq.com/images/lol/img/item/1011.png"
                                                   alt="loading">
                            </th>
                            <th title="特殊装备"><img src="https://game.gtimg.cn/images/lol/tft/items/4000.png"
                                                  alt="loading">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td title="暴风大剑"><img src="https://ossweb-img.qq.com/images/lol/img/item/1038.png"
                                                  alt="loading">
                            </td>
                            <td title="暴击伤害翻倍"><img src="https://ossweb-img.qq.com/images/lol/img/item/3031.png"
                                                    alt="loading">
                            </td>
                            <td title="全能25%吸血"><img src="https://ossweb-img.qq.com/images/lol/img/item/3146.png"
                                                     alt="loading">
                            </td>
                            <td title="加5%暴击每秒"><img src="https://ossweb-img.qq.com/images/lol/img/item/3131.png"
                                                     alt="loading">
                            </td>
                            <td title="释放大招后普攻回蓝"><img src="https://ossweb-img.qq.com/images/lol/img/item/3161.png"
                                                       alt="loading">
                            </td>
                            <td title="阵亡可复活"><img src="https://ossweb-img.qq.com/images/lol/img/item/3026.png"
                                                   alt="loading">
                            </td>
                            <td title="普攻50%吸血"><img src="https://ossweb-img.qq.com/images/lol/img/item/3072.png"
                                                     alt="loading">
                            </td>
                            <td title="增加友军攻速"><img src="https://game.gtimg.cn/images/lol/tft/items/4011.png"
                                                    alt="loading">

                            </td>
                            <td title="佩戴者也视为刺客"><img src="https://game.gtimg.cn/images/lol/tft/items/3142.png"
                                                      alt="loading">

                            </td>
                        </tr>
                        <tr>
                            <td title="无用大棒"><img src="https://ossweb-img.qq.com/images/lol/img/item/1058.png"
                                                  alt="loading">
                            </td>
                            <td title="全能25%吸血"><img src="https://ossweb-img.qq.com/images/lol/img/item/3146.png"
                                                     alt="loading">
                            </td>
                            <td title="+50%技能伤害"><img src="https://ossweb-img.qq.com/images/lol/img/item/3089.png"
                                                      alt="loading">
                            </td>
                            <td title="普攻增加3%攻速（无上限）"><img src="https://ossweb-img.qq.com/images/lol/img/item/3124.png"
                                                           alt="loading">
                            </td>
                            <td title="技能造成200溅射伤害"><img src="https://ossweb-img.qq.com/images/lol/img/item/3285.png"
                                                         alt="loading">
                            </td>
                            <td title="相邻友军增加200护盾"><img src="https://ossweb-img.qq.com/images/lol/img/item/3190.png"
                                                         alt="loading">
                            </td>
                            <td title="敌人施法掉200点血"><img src="https://game.gtimg.cn/images/lol/tft/items/3178.png"
                                                        alt="loading">

                            </td>
                            <td title="技能造成目标2.5%最大HP灼烧伤害"><img
                                    src="https://game.gtimg.cn/images/lol/tft/items/4007.png"
                                    alt="loading">

                            </td>
                            <td title="佩戴者也视为法师"><img src="https://game.gtimg.cn/images/lol/tft/items/4010.png"
                                                      alt="loading">

                            </td>
                        </tr>
                        <tr>
                            <td title="反曲之弓"><img src="https://ossweb-img.qq.com/images/lol/img/item/1043.png"
                                                  alt="loading">
                            </td>
                            <td title="加5%暴击每秒"><img src="https://ossweb-img.qq.com/images/lol/img/item/3131.png"
                                                     alt="loading">
                            </td>
                            <td title="普攻增加3%攻速（无上限）"><img src="https://ossweb-img.qq.com/images/lol/img/item/3124.png"
                                                           alt="loading">
                            </td>
                            <td title="普攻必中，双倍射程"><img src="https://ossweb-img.qq.com/images/lol/img/item/3094.png"
                                                       alt="loading">
                            </td>
                            <td title="每三次普攻造成100溅射伤害"><img src="https://ossweb-img.qq.com/images/lol/img/item/3087.png"
                                                            alt="loading">
                            </td>
                            <td title="闪避暴击攻击"><img src="https://ossweb-img.qq.com/images/lol/img/item/3046.png"
                                                    alt="loading">
                            </td>
                            <td title="普攻几率使敌人降星"><img src="https://game.gtimg.cn/images/lol/tft/items/4003.png"
                                                       alt="loading">

                            </td>
                            <td title="普攻造成佩戴者10%最大HP的溅射伤害"><img
                                    src="https://game.gtimg.cn/images/lol/tft/items/3748.png"
                                    alt="loading">

                            </td>
                            <td title="佩戴者也视为剑士"><img src="https://game.gtimg.cn/images/lol/tft/items/3143.png"
                                                      alt="loading">
                            </td>
                        </tr>
                        <tr>
                            <td title="女神之泪"><img src="https://ossweb-img.qq.com/images/lol/img/item/3070.png"
                                                  alt="loading">
                            </td>
                            <td title="释放大招后普攻回蓝"><img src="https://ossweb-img.qq.com/images/lol/img/item/3161.png"
                                                       alt="loading">
                            </td>
                            <td title="技能造成200溅射伤害"><img src="https://ossweb-img.qq.com/images/lol/img/item/3285.png"
                                                         alt="loading">
                            </td>
                            <td title="每三次普攻造成100溅射伤害"><img src="https://ossweb-img.qq.com/images/lol/img/item/3087.png"
                                                            alt="loading">
                            </td>
                            <td title="每有技能释放获得20法力"><img src="https://ossweb-img.qq.com/images/lol/img/item/3040.png"
                                                          alt="loading">
                            </td>
                            <td title="相邻敌人-20%攻速"><img src="https://game.gtimg.cn/images/lol/tft/items/3110.png"
                                                        alt="loading">

                            </td>
                            <td title="普攻概率沉默"><img src="https://game.gtimg.cn/images/lol/tft/items/4005.png"
                                                    alt="loading">

                            </td>
                            <td title="死后范围友军回血"><img src="https://game.gtimg.cn/images/lol/tft/items/3107.png"
                                                      alt="loading">

                            </td>
                            <td title="佩戴者也视为恶魔"><img src="https://game.gtimg.cn/images/lol/tft/items/4002.png"
                                                      alt="loading">

                            </td>
                        </tr>
                        <tr>
                            <td title="锁子甲"><img src="https://ossweb-img.qq.com/images/lol/img/item/1031.png"
                                                 alt="loading">
                            </td>
                            <td title="守护阵亡可复活天使"><img src="https://ossweb-img.qq.com/images/lol/img/item/3026.png"
                                                       alt="loading">
                            </td>
                            <td title="相邻友军增加200护盾"><img src="https://ossweb-img.qq.com/images/lol/img/item/3190.png"
                                                         alt="loading">
                            </td>
                            <td title="闪避暴击攻击"><img src="https://ossweb-img.qq.com/images/lol/img/item/3046.png"
                                                    alt="loading">
                            </td>
                            <td title="相邻敌人-20%攻速"><img src="https://game.gtimg.cn/images/lol/tft/items/3110.png"
                                                        alt="loading">

                            </td>
                            <td title="反弹35%普攻伤害"><img src="https://game.gtimg.cn/images/lol/tft/items/3075.png"
                                                       alt="loading">

                            </td>
                            <td title="普攻几率缴械"><img src="https://game.gtimg.cn/images/lol/tft/items/4009.png"
                                                    alt="loading">

                            </td>
                            <td title="普攻灼烧伤害"><img src="https://game.gtimg.cn/images/lol/tft/items/4008.png"
                                                    alt="loading">
                            </td>
                            <td title="佩戴者也视为骑士"><img src="https://game.gtimg.cn/images/lol/tft/items/4006.png"
                                                      alt="loading">

                            </td>
                        </tr>
                        <tr>
                            <td title="负极斗篷"><img src="https://ossweb-img.qq.com/images/lol/img/item/1057.png"
                                                  alt="loading">
                            </td>
                            <td title="普攻50%吸血"><img src="https://ossweb-img.qq.com/images/lol/img/item/3072.png"
                                                     alt="loading">
                            </td>
                            <td title="敌人施法掉200点血"><img src="https://game.gtimg.cn/images/lol/tft/items/3178.png"
                                                        alt="loading">

                            </td>
                            <td title="普攻几率使敌人降星"><img src="https://game.gtimg.cn/images/lol/tft/items/4003.png"
                                                       alt="loading">

                            </td>
                            <td title="普攻概率沉默"><img src="https://game.gtimg.cn/images/lol/tft/items/4005.png"
                                                    alt="loading">

                            </td>
                            <td title="普攻几率缴械"><img src="https://game.gtimg.cn/images/lol/tft/items/4009.png"
                                                    alt="loading">

                            </td>
                            <td title="装备者获得83%魔抗"><img src="https://game.gtimg.cn/images/lol/tft/items/4004.png"
                                                        alt="loading">

                            </td>
                            <td title="开局吹起一个敌军"><img src="https://game.gtimg.cn/images/lol/tft/items/3172.png"
                                                      alt="loading">

                            </td>
                            <td title="攻击2名额外敌人，造成50%伤害"><img src="https://game.gtimg.cn/images/lol/tft/items/3085.png"
                                                              alt="loading">
                            </td>
                        </tr>

                        <tr>
                            <td title="巨人腰带"><img src="https://ossweb-img.qq.com/images/lol/img/item/1011.png"
                                                  alt="loading">
                            </td>
                            <td title="增加友军攻速"><img src="https://game.gtimg.cn/images/lol/tft/items/4011.png"
                                                    alt="loading">

                            </td>
                            <td title="技能造成目标2.5%最大HP灼烧伤害"><img
                                    src="https://game.gtimg.cn/images/lol/tft/items/4007.png"
                                    alt="loading">

                            </td>
                            <td title="普攻造成佩戴者10%最大HP的溅射伤害"><img
                                    src="https://game.gtimg.cn/images/lol/tft/items/3748.png"
                                    alt="loading">

                            </td>
                            <td title="死后范围友军回血"><img src="https://game.gtimg.cn/images/lol/tft/items/3107.png"
                                                      alt="loading">

                            </td>
                            <td title="普攻灼烧伤害"><img src="https://game.gtimg.cn/images/lol/tft/items/4008.png"
                                                    alt="loading">
                            </td>
                            <td title="开局吹起一个敌军"><img src="https://game.gtimg.cn/images/lol/tft/items/3172.png"
                                                      alt="loading">

                            </td>
                            <td title="装备者每秒回复3%最大HP"><img src="https://game.gtimg.cn/images/lol/tft/items/3083.png"
                                                           alt="loading">

                            </td>
                            <td title="佩戴者也视为极地"><img src="https://game.gtimg.cn/images/lol/tft/items/3022.png"
                                                      alt="loading">

                            </td>
                        </tr>
                        <tr>
                            <td title="魔铲"><img src="https://game.gtimg.cn/images/lol/tft/items/4000.png" alt="loading">
                            </td>
                            <td title="佩戴者也视为刺客"><img src="https://game.gtimg.cn/images/lol/tft/items/3142.png"
                                                      alt="loading">

                            </td>
                            <td title="佩戴者也视为法师"><img src="https://game.gtimg.cn/images/lol/tft/items/4010.png"
                                                      alt="loading">

                            </td>
                            <td title="佩戴者也视为剑士"><img src="https://game.gtimg.cn/images/lol/tft/items/3143.png"
                                                      alt="loading">
                            </td>
                            <td title="佩戴者也视为恶魔"><img src="https://game.gtimg.cn/images/lol/tft/items/4002.png"
                                                      alt="loading">

                            </td>
                            <td title="佩戴者也视为骑士"><img src="https://game.gtimg.cn/images/lol/tft/items/4006.png"
                                                      alt="loading">

                            </td>
                            <td title="攻击2名额外敌人，造成50%伤害"><img src="https://game.gtimg.cn/images/lol/tft/items/3085.png"
                                                              alt="loading">
                            </td>
                            <td title="佩戴者也视为极地"><img src="https://game.gtimg.cn/images/lol/tft/items/3022.png"
                                                      alt="loading">

                            </td>
                            <td title="人口+1"><img src="https://game.gtimg.cn/images/lol/tft/items/4401.png"
                                                  alt="loading">

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">CopyRight@copy2019 seauf.com All Rights Reserved</div>
</div>
</body>
</html>